{% extends 'main.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <a  class="m-5 ms-4" href="{% url 'event' event.id %}">Go back</a>
      <div class="my-5 ms-4">  
        <input type="submit" value="Confirm"/>
      </div>

    </form>
    
{% endblock content %}
