{% extends 'main.html' %}

{% block content %}
    <h1>{{event.name}}</h1>
    {% if registered %}
        <p> Already Registered </p>
    {% else %}
        <a href="{% url 'registration-confirmation' event.id %}">Register</a>
    {% endif %}
    <p>{{event.description}}</p>

    <div>
        <h3>Event particapants</h3>
        <div>
            
            {% for user in event.participants.all %}
                <div>
                    <strong>{{user.name}}</strong>
                </div>
            {% endfor %}
                
        </div>
    </div>
{% endblock content %}








